dotconfig/zsh/plugins
dotconfig/kitty/theme.conf
dotconfig/alacritty/theme.toml
dotconfig/hypr/hyprpaper.conf
dotconfig/waybar/theme.jsonc
dotconfig/waybar/theme.css
dotconfig/waybar/colors.css
dotconfig/hypr/conf/theme.conf
dotconfig/hypr/lua/theme.lua
dotconfig/rofi/themes/colors.rasi
