/*
 *   ____        __ _
 *  |  _ \ ___  / _(_)
 *  | |_) / _ \| |_| |
 *  |  _ < (_) |  _| |
 *  |_| \_\___/|_| |_|
 */

configuration {
  font: "Adwaita Sans 18";
  icon-theme: "Kora grey Light";
  drun-display-format: "{name}";
  display-drun: "󰀻";
  display-window: " ";
  display-combi: " ";
}

@theme "themes/colors/catppuccin-latte.rasi"
@import "themes/layout-apps.rasi"
