/** Basic config file **/

/*
 *   ____        __ _
 *  |  _ \ ___  / _(_)
 *  | |_) / _ \| |_| |
 *  |  _ < (_) |  _| |
 *  |_| \_\___/|_| |_|
 */

configuration {
  font: "Adwaita Sans 18";

  show-icons: true;
  icon-theme: "Kora grey Light";

  drun-display-format: "{name}";
  // display-drun: "";
  display-drun: "";
  display-window: " ";
  display-combi: " ";
}

@theme "themes/nord_dc.rasi"
// @theme "themes/column_rounded_DC.rasi"
/* @theme "/dev/null" */
