/** Basic config file **/

/*
 *   ____        __ _
 *  |  _ \ ___  / _(_)
 *  | |_) / _ \| |_| |
 *  |  _ < (_) |  _| |
 *  |_| \_\___/|_| |_|
 */

configuration {
  font: "SF UI Display 18";

  show-icons: true;
  icon-theme: "ePapirus";

  drun-display-format: "{name}";
  display-drun: "";
  display-window: " ";
  display-combi: " ";
}

@theme "themes/nord_dc.rasi"

/* @theme "/dev/null" */

