/* Polar Night */
@define-color nord0  #2e3440;
@define-color nord1  #3b4252;
@define-color nord2  #434c5e;
@define-color nord3  #4c566a;
/* Snow Storm */
@define-color nord4  #d8dee9;
@define-color nord5  #e5e9f0;
@define-color nord6  #eceff4;
/* Frost */
@define-color nord7  #8fbcbb;
@define-color nord8  #88c0d0;
@define-color nord9  #81a1c1;
@define-color nord10 #5e81ac;
/* Aurora */
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;

* {
	background-image: none;
    box-shadow: none;
	/* background-color: rgba(46, 52, 64, 0.7); */
}

window {
	background-color: rgba(46, 52, 64, 0.7);
}

button {
	/* background-color: @nord0; */
	border-style: solid;
	border-width: 5px;
    border-color: @nord3;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline-style: none;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
    margin: 13em 0.5em;

    font-family: SF UI Display;
    font-size: 18pt;
    color: @nord4;
}

/* button:focus, button:active, button:hover { */
button:focus {
    color: @nord4;
	background-color: @nord10;
    border-color: @nord4;
    background-size: 40%;
	/* border-width: 5px; */
}

button:hover {
    color: @nord6;
    border-color: @nord4;
    background-size: 40%;
	/* background-color: @nord9; */
}

#lock {
    background-image: image(url("/home/daniel/.config/wlogout/icons/lock-white.png"));
}

#logout {
    background-image: image(url("/home/daniel/.config/wlogout/icons/logout-white.png"));
}

#suspend {
    background-image: image(url("/home/daniel/.config/wlogout/icons/suspend-white.png"));
}

#hibernate {
    background-image: image(url("/home/daniel/.config/wlogout/icons/hibernate-white.png"));
}

#shutdown {
    background-image: image(url("/home/daniel/.config/wlogout/icons/shutdown-white.png"));
}

#reboot {
    background-image: image(url("/home/daniel/.config/wlogout/icons/reboot-white.png"));
}
