/*
__        __          _                      _         _
\ \      / /_ _ _   _| |__   __ _ _ __   ___| |_ _   _| | ___
 \ \ /\ / / _` | | | | '_ \ / _` | '__| / __| __| | | | |/ _ \
  \ V  V / (_| | |_| | |_) | (_| | |    \__ \ |_| |_| | |  __/
   \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |___/\__|\__, |_|\___|
                |___/                            |___/

Style: Underscore
*/

* {
    font-family: Adwaita Sans, SF Mono, sans-serif;
    font-size: 14pt;
}

.modules-left, .modules-right, .modules-center {
    padding: 0 0.5em;
}

#waybar {
    border: 1px solid alpha(@fg-normal, 0.5);
    border-radius: 1em;
}

#window label {
    font-size: 15pt;
}

