/** Basic config file **/

configuration {
  font: "FiraCode Nerd Font 16";
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
}
@theme "themes/sidetab-nord.rasi"
