/** Basic config file **/

configuration {
  /* font: "FiraCode Nerd Font 16"; */
  font: "SF UI  Display 16";
  show-icons: true;
  /* icon-theme: "Papirus"; */
  icon-theme: "Tela nord";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
}

@theme "themes/sidetab-nord.rasi"
/* @theme "/dev/null" */
