/*
__        __          _                      _         _
\ \      / /_ _ _   _| |__   __ _ _ __   ___| |_ _   _| | ___
 \ \ /\ / / _` | | | | '_ \ / _` | '__| / __| __| | | | |/ _ \
  \ V  V / (_| | |_| | |_) | (_| | |    \__ \ |_| |_| | |  __/
   \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |___/\__|\__, |_|\___|
                |___/                            |___/
*/

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto Sans, SF Mono, Helvetica, Arial, sans-serif;
}

window {
    font-size: 14pt;
    color: alpha(@fg-normal, 0.8);
}

window#waybar {
    background: linear-gradient(0deg, alpha(@bg-normal, 0.6), alpha(@bg-normal, 0.7));
    border-bottom: 1px solid alpha(@bg-normal, 0.8);
    border-radius: 0;
}

.modules-left, .modules-right, .modules-center {
    padding: 0 0.5em;
}

tooltip {
    background-color: alpha(@bg-normal, 0.8);
    border: 2px solid alpha(@fg-normal, 0.7);
    border-radius: 10px;
}

tooltip label {
    color: @fg-normal;
    font-family: Adwaita Sans;
    font-weight: 500;
    font-size: 12pt;
}

#workspaces {
    padding: 0;
}

button {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

button label {
    color: @fg-normal;
    padding: 0px 0.7em;
    margin: 0px 0px;
}

button.empty label {
    color: alpha(@fg-normal, 0.5);
}

button.active label {
    /* background-color: alpha(@bg-selected, 0.7); */
    background: linear-gradient(0deg, alpha(@bg-selected, 0.8), alpha(@bg-selected, 0.2));
    color: @fg-high;
    font-weight: 800;
    padding: 0 0.7em;
}

button.urgent label {
    background-color: @bg-critical;
}

button:hover {
    background-color: transparent;
    transition: none;
}

button:hover label {
    color: @fg-high;
    font-weight: 600;
}

#custom-leftsep {
    padding-right: 0.7em;
}

#custom-windowstatus {
    font-family: SF Mono, FontAwesome;
    font-size: 15px;
    color: @fg-status;
    padding: 0 0.5em;
}

#window label {
    font-family: Adwaita Sans;
    font-size: 15pt;
    font-weight: 600;
    color: @fg-normal;
    padding: 0 0.5em;
}


#clock,
#bluetooth,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#language,
#custom-power-profiles,
#custom-poweroff,
#mpd {
    padding: 0 0.5em;
    margin: 5px 0px;
    border-radius: 7px;
}

/* Iconos de ancho doble */
#idle_inhibitor,
#network {
    padding: 0 0.9em 0 0.5em;
}

#clock {
    font-family: Adwaita Sans;
    color: @fg-normal;
}

#battery.charging {
    padding: 0 0.7em 0 0.4em;
}

/* Success state ----------------------------------------------------------------------------- */
#custom-power-profiles.power-saver,
#battery.charging, #battery.plugged {
    color: @bg-normal;
    background-color: @success;
}

/* Warning state ----------------------------------------------------------------------------- */
#battery.warning:not(.charging),
#cpu.warning,
#pulseaudio.muted,
#idle_inhibitor.activated {
    color: @bg-normal;
    background-color: @warning;
}

/* Critical state ----------------------------------------------------------------------------- */
#battery.critical:not(.charging),
#cpu.critical,
#temperature.critical,
#tray > .needs-attention,
#custom-power-profiles.performance {
    background-color: @critical;
    color: @fg-high;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}


/* Dimmed state ----------------------------------------------------------------------------- */
#network.disconnected, #network.disabled,
#bluetooth.disabled, #bluetooth.off {
    color: alpha(@fg-normal, 0.4);
}


#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    /* background-color: #f0932b; */
}

#tray {
}

#tray > .passive {
    /* -gtk-icon-effect: dim; */
    background-color: @bg-critical;
}

#idle_inhibitor {
}

#mpd {
    /* background-color: #66cc99; */
    /* color: #2a5c45; */
}

#mpd.disconnected {
    /* background-color: #f53c3c; */
}

#mpd.stopped {
    /* background-color: #90b1b1; */
}

#mpd.paused {
    /* background-color: #51a37a; */
}

#language {
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#bluetooth.connected {
    /* color: #0082FC; */
    /* color: @fg-status; */
}

.drawer-child {
    /* padding: 0 50; */
    /* margin: 0 50; */
    /* border-radius: 20px; */
    /* background-color: alpha(@bg-normal, 0.4); */
    /* background-color: red; */
}
