/*
__        __          _                      _         _
\ \      / /_ _ _   _| |__   __ _ _ __   ___| |_ _   _| | ___
 \ \ /\ / / _` | | | | '_ \ / _` | '__| / __| __| | | | |/ _ \
  \ V  V / (_| | |_| | |_) | (_| | |    \__ \ |_| |_| | |  __/
   \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |___/\__|\__, |_|\___|
                |___/                            |___/

Style: Mac
*/

* {
    font-family: SF UI Text, SF Mono, sans-serif;
    font-size: 11pt;
    padding: 0;
    margin: 0;
}

#waybar {
    border-bottom: 1px solid alpha(@bg-normal, 0.9);
}

#window label {
    font-size: 12pt;
}

