/*
__        __          _                      _         _
\ \      / /_ _ _   _| |__   __ _ _ __   ___| |_ _   _| | ___
 \ \ /\ / / _` | | | | '_ \ / _` | '__| / __| __| | | | |/ _ \
  \ V  V / (_| | |_| | |_) | (_| | |    \__ \ |_| |_| | |  __/
   \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |___/\__|\__, |_|\___|
                |___/                            |___/
*/

* {
    font-family: Noto Sans, SF Mono, Helvetica, Arial, sans-serif;
}

window {
    font-size: 13pt;
    color: alpha(@fg-normal, 0.8);
}

window#waybar {
    /* background: linear-gradient(0deg, alpha(@bg-normal, 0.1), alpha(@bg-normal, 0.7)); */
    background: alpha(@bg-normal, 0.7);
    border-bottom: 1px solid alpha(@bg-normal, 0.8);
    border-radius: 10;
    /* border: 1px solid red; */
}

.modules-left, .modules-right, .modules-center {
    padding: 0 0.5em;
}

tooltip {
    background-color: alpha(@bg-normal, 0.8);
    border: 2px solid alpha(@fg-normal, 0.7);
    border-radius: 10px;
}

tooltip label {
    color: @fg-normal;
    font-family: Adwaita Sans;
    font-weight: 500;
    font-size: 12pt;
}

#workspaces {
    padding: 0;
}

button {
    border: none;
    border-radius: 0;
    padding: 0 0.3em;
    margin: 0;
}

button label {
    color: @fg-normal;
    font-size: 14pt;
    padding: 0px 0.4em;
    margin: 2px 0;
}

button.active label {
    color: @fg-high;
    font-weight: 800;
    box-shadow: inset 0 -3px @fg-selected;
}

button.empty label {
    color: alpha(@fg-normal, 0.5);
}

button.urgent label {
    background-color: @critical;
}

button:hover {
    /* background-color: transparent; */
    background-color: alpha(@bg-selected, 0.3);
    transition: none;
}

button:hover label {
    color: @fg-high;
    font-weight: 600;
}

#custom-leftsep {
    padding-right: 0.7em;
}

#custom-windowstatus {
    font-family: SF Mono, FontAwesome;
    font-size: 15pt;
    color: @fg-status;
    padding: 0 0 0 0.5em;
}

#window label {
    font-family: Adwaita Sans;
    font-size: 15pt;
    font-weight: 600;
    color: @fg-normal;
    padding: 0 0.5em;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#language,
#custom-power-profiles,
#mpd {
    padding: 0 5px;
    margin: 2px 0;
}

#clock {
    font-family: Adwaita Sans;
    color: alpha(@fg-normal, 0.8);
}

#battery {
}

#battery.charging, #battery.plugged {
    color: @success;
    box-shadow: inset 0 -3px @success;
    background-color: transparent;
}

#battery.warning {
    color: @warning;
    box-shadow: inset 0 -3px @warning;
    background-color: transparent;
}

#battery.critical:not(.charging) {
    color: @critical;
    box-shadow: inset 0 -3px @critical;
    background-color: transparent;
}

#cpu.warning {
    color: @warning;
    box-shadow: inset 0 -3px @warning;
    background-color: transparent;
}

#cpu.critical {
    color: @critical;
    box-shadow: inset 0 -3px @critical;
    background-color: transparent;
}

#memory {
}

#temperature {
}

#temperature.critical {
    color: @critical;
    box-shadow: inset 0 -3px @critical;
    background-color: transparent;
}

#network.disconnected, #network.disabled {
    color: alpha(@fg-normal, 0.5);
}

#pulseaudio {
}

#pulseaudio.muted {
    color: @warning;
    box-shadow: inset 0 -3px @warning;
    background-color: transparent;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
}

#tray > .passive {
    /* -gtk-icon-effect: dim; */
    background-color: @critical;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @critical;
    color:@fg-high;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: @warning;
    box-shadow: inset 0 -3px @warning;
    background-color: transparent;
}

#language {
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#bluetooth.connected {
    /* color: #0082FC; */
    /* color: @fg-status; */
}

#bluetooth.disabled, #bluetooth.off {
    color: alpha(@fg-normal, 0.5);
}

#custom-power-profiles {
    color: @bg-normal;
}

#custom-power-profiles.power-saver {
    color: @success;
    box-shadow: inset 0 -3px @success;
    background-color: transparent;
}

#custom-power-profiles.performance {
    color: @critical;
    box-shadow: inset 0 -3px @critical;
    background-color: transparent;
}

#custom-poweroff {
    padding-left: 0.5em;
}
