/*
__        __          _                      _         _
\ \      / /_ _ _   _| |__   __ _ _ __   ___| |_ _   _| | ___
 \ \ /\ / / _` | | | | '_ \ / _` | '__| / __| __| | | | |/ _ \
  \ V  V / (_| | |_| | |_) | (_| | |    \__ \ |_| |_| | |  __/
   \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |___/\__|\__, |_|\___|
                |___/                            |___/

Style: Float
*/

* {
    font-family: Noto Sans, SF Mono, Helvetica, Arial, sans-serif;
    font-size: 14pt;
}

#waybar {
    background-color: transparent;
}

.modules-left, .modules-right, .modules-center {
    padding: 0 1em;
    background: alpha(@bg-normal, 0.6);
    border-radius: 20px;
    border: 2px solid alpha(@fg-normal, 0.8);
}

button:not(:last-child) {
    border-right: 1px solid @fg-disabled;
}

#window label {
    font-family: Adwaita Sans;
    font-size: 15pt;
}


