/**
    _                      _                         _
   / \   _ __  _ __  ___  | | __ _ _   _  ___  _   _| |_
  / _ \ | '_ \| '_ \/ __| | |/ _` | | | |/ _ \| | | | __|
 / ___ \| |_) | |_) \__ \ | | (_| | |_| | (_) | |_| | |_
/_/   \_\ .__/| .__/|___/ |_|\__,_|\__, |\___/ \__,_|\__|
        |_|   |_|                  |___/
 */
@import "default.rasi"

// inputbar ------------------------------------------------------------------------------
prompt {
    font: "SF UI Display 36";
    padding: 0 0.3em 0 0;
}

entry {
    font: "SF UI Display 22";
    placeholder: "Aplicaciones";
}

// listview  ------------------------------------------------------------------------------
listview {
    // flow: horizontal;
    columns: 2;
    fixed-columns: true;
}

